/*AWS*/
body {
    background-color: #9C2437;
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
} 

/* Set color of links*/
a:link { 
    color: white; 
}

/*Hero Titles*/
.display-3 {
    font-size: 3.2em;
}

h2 {
    font-size: 1.9em;
    font-weight: 700;
    font-variant: small-caps;
}

/* Changes navbar text to caps & size */
.navbar-nav a {
    font-size: 16px;
}

/* Alert box formatting*/
.alert {
    border-radius: 0; /*removes rounded corners*/
    margin: 0; /*keeps alert flush with navbar*/
    font-size: 14px;
}

/* Header video with text overlay */
#header {
    position: relative;
    background-color: black;
    max-height: 87vh;
    height: 85rem;
    width: 100%;
    overflow: hidden;
  }
  
    #header img, video {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: 0;
        transform: translateX(-50%) translateY(-50%);
    }
  
    #header .container {
        position: relative;
        z-index: 2;
    }
  
    #header .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #000000;
        opacity: 0.3;
        z-index: 1;
    }
    
    @media (pointer: coarse) and (hover: none) {
        #header {
          /*background: url("/assets/header_mobile.jpg") black no-repeat center center scroll;*/
        }
        #header video {
          display: none;
        }
      }

/*REWARDS*/
#rewards {
    height: 350px;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 15%;
    padding-right: 15%;
}
    
    #rewards-logo {
        width: 100%;
        margin: auto;
    }

    #rewards-text h2 {
        color: #9C2437;
    }

    #rewards-text p {
        font-size: 1.1em;
        color: #9C2437;
    }
    
/*SHOP*/
#shop {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 10%;
    padding-right: 10%;
    color: black;
    background-color: white;
}

    .shop-title {
        font-size: 2.7em;
        margin-bottom: 2%;
        text-transform: lowercase;
    }

.card {
    background-color: white;
    border-color: #9C2437;
}

/*VISIT US*/
#visit-us {
}

/* Contact Us section */
.contact-us {
    height: 425px;
    background-color: #9C2437;
    position: relative;
    
}

#contact {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.page-footer {
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 0.9em;
}

.footer-copyright {
    font-size: 0.8em;
}

/*OUR STORY PAGE*/

/*Our Coffee section*/
#os-coffee {
    height: 350px;
}
    #os-coffee-text {
        color: black;
        margin-top: 10%;
        margin-bottom: 10%;
        margin-left: 5%;
        margin-right: 5%;

    }