 
body {
    text-align: center;
    color: black;
    font-family: Helvetica, Arial, sans-serif;
} 

/* Set color of links*/
a:link { 
    color: white; 
}

.hero-title {
    font-size: 3.2em;
}

/* Changes navbar text to caps & size */
.navbar-nav a {
    font-size: 0.97em;
}

.rewards-title {
    font-size: 1.7em;
}

.shop-title {
    font-size: 2.6em;
    font-weight: 300;
}

.rewards-title, .shop-title {
    font-variant: small-caps;
}

/* Alert box formatting*/
.alert {
    font-size: 0.85em;
    background-color: #9C2437;
}

.footer-copyright {
    font-size: 0.8em;
}
/* Header video with text overlay */
#header {
    position: relative;
    background-color: black;
    max-height: 87vh;
    height: 85rem;
    width: 100%;
    overflow: hidden;
  }
  
    #header img, video {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: 0;
        transform: translateX(-50%) translateY(-50%);
    }
  
    #header .container {
        position: relative;
        z-index: 2;
    }
  
    #header .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #000000;
        opacity: 0.3;
        z-index: 1;
    }
    
    @media (pointer: coarse) and (hover: none) {
        #header {
          /*background: url("/assets/header_mobile.jpg") black no-repeat center center scroll;*/
        }
        #header video {
          display: none;
        }
      }

/*OUR STORY PAGE*/

/*Our Coffee section*/
#os-coffee {
    height: 350px;
}
    #os-coffee-text {
        color: black;
        margin-top: 10%;
        margin-bottom: 10%;
        margin-left: 5%;
        margin-right: 5%;

    }

/*SHOP PAGE*/
#shop_header {
    max-height: 87vh;
    overflow: hidden;
}

#shop_header img {
    width: 100%;
    height: auto;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /*clean*/
button {
    background-color:#6772E5;
    color:#FFF;
    padding:8px 12px;
    border:0;
    border-radius:4px;
    font-size:1em;
}