 
body {
    text-align: center;
    color: black;
    font-family: Helvetica, Arial, sans-serif;
} 

.hero-title {
    font-size: 3.2em;
}

.navbar-nav a {
    font-size: 0.97em;
}

.btn a {
    color: inherit;
}
.rewards-title {
    font-size: 1.7em;
}

.shop-title {
    font-size: 2.6em;
    font-weight: 300;
}

.rewards-title, .shop-title {
    font-variant: small-caps;
}

.alert, .btn-danger {
    background-color: #9C2437;

}
.alert {
    font-size: 0.85em;
}

.btn-danger {
    border-color: #9C2437;
}

.footer-copyright {
    font-size: 0.8em;
}

/*Hero*/
#header {
    position: relative;
    background-color: black;
    max-height: 87vh;
    height: 85rem;
    width: 100%;
    overflow: hidden;
  }
  
    #header img, video {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: 0;
        transform: translateX(-50%) translateY(-50%);
    }
  
    #header .container {
        position: relative;
        z-index: 2;
    }
  
    #header .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #000000;
        opacity: 0.3;
        z-index: 1;
    }

/*OUR STORY PAGE*/

/*Our Coffee section*/
#os-ourstory {
    height: 350px;
}
    #os-ourstory-text {
        color: black;
        margin-top: 10%;
        margin-bottom: 10%;
        margin-left: 5%;
        margin-right: 5%;
    }

/*SHOP PAGE*/
#shop_header {
    max-height: 87vh;
    overflow: hidden;
}

    #shop_header img {
        width: 100%;
        height: auto;
    }

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
