body {
    background-color: #e7d9c1;
    text-align: center;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
} 

/*Big title*/
.display-3 {
    font-size: 4em;
    color: #ffffff;
}

h2 {
    font-size: 1.9em;
    font-weight: 700;
    font-variant: small-caps;
    text-transform: lowercase;  
}

/* Changes navbar text to caps & size */
.navbar-nav a {
    text-transform: uppercase;
    font-size: 16px;
}

/* Alert box formatting */
.alert {
    color: #ffffff;
    background-color: #5f26c9;
    border-color: #5f26c9;
    border-radius: 0; /*removes rounded corners*/
    margin: 0; /*keeps alert flush with navbar*/
}

/* Header video with text overlay */
#header {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
    #header video {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: 0;
        transform: translateX(-50%) translateY(-50%);
    }
  
    #header .container {
        position: relative;
        z-index: 2;
    }
  
    #header .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #000000;
        opacity: 0.2;
        z-index: 1;
    }
    
    @media (pointer: coarse) and (hover: none) {
        #header {
          background: url("https://javiscoffeesa.blob.core.windows.net/$web/header_mobile.jpg") black no-repeat center center scroll;
        }
        #header video {
          display: none;
        }
      }

/*REWARDS*/
#rewards {
    background-color: #9C2437;
    height: 350px;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 15%;
    padding-right: 15%;
}
    #rewards-logo {
        width: 100%;
        margin: auto;
        background-color: #ffffff;
    }

    #rewards-text p {
        font-size: 1.1em;
    }
    
/*SHOP*/
#shop {
    padding: 3%;
    color: black;
    background-color: #ffffff;
}

    .shop-title {
        font-size: 3em;
        margin-bottom: 5%;
    }

/*VISIT US*/
#visit-us {
}

/* Contact Us section */
.contact-us {
    height: 425px;
    background-color: #9C2437;
    position: relative;
    
}

#contact {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}