body {background-color: #e7d9c1;} 


/*Changes navbar text to caps & size*/
.navbar-nav a {
    text-transform: uppercase;
    font-size: 16px;
}

.alert {
    color: #ffffff;
    background-color: #c92626;
    border-color: #c92626;
    border-radius: 0;
    margin: 0;
}