<rewrite>
    <rules>
        <rule name="Hide .html ext">
             <match ignoreCase="true" url="^(.*)"/>
             <conditions>
                 <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
                 <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
                 <add input="{REQUEST_FILENAME}.html" matchType="IsFile"/>
                 <add input="{REQUEST_FILENAME}.htm" matchType="IsFile"/>
             </conditions>
             <action type="Rewrite" url="{R:0}.html"/>
             <action type="Rewrite" url="{R:0}.htm"/>
        </rule>
        <rule name="Redirecting .html ext" stopProcessing="true">
            <match url="^(.*).html"/>
            <match url="^(.*).htm"/>
            <conditions logicalGrouping="MatchAny">
                 <add input="{URL}" pattern="(.*).html"/>
                 <add input="{URL}" pattern="(.*).htm"/>
             </conditions>
            <action type="Redirect" url="{R:1}"/>
         </rule>
   </rules>
</rewrite>
